/* Japanese font support. */
form[lang|='ja'] *{
  font-family: メイリオ, Meiryo, Microsoft YaHei, tahoma, sans-serif !important;
}

.scContentTreeNode a span {
  height:0;
}

.scBackground
{
  border: 1px outset;
}

.scContentTreeNode
{
  padding: 0px 2px 0px 16px;
}

a.scContentTreeNodeNormal, a.scContentTreeNodeActive
{
  line-height: inherit;
  height: 16px;
  padding: 1px 4px 2px 2px;
  float: none;
}

a.scContentTreeNodeActive, a.scContentTreeNodeNormal:hover
{
  padding: 0px 3px 1px 1px;
}

.scContentTreeNodeGlyph
{
  float: none;
  padding-top: 0px;
  padding-bottom: 0px;
  vertical-align: baseline;
}

.scLoadingGlyph
{
  vertical-align: middle;
}

.scContentTreeNodeIcon
{
  vertical-align: middle;
}

.scContentTreeNodeGutter
{
  left: 0px;
}

.scContentTreeNodeNormal span, .scContentTreeNodeActive span, .scLoadingGlyph
{
  float: none;
}

.scFixSize > *
{
  display: inherit;
}

/* Japanese language support*/
.lang_ja_jp a.scRibbonToolbarSmallButton span 
{
	height: 0;
}