<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <authentication>
      <patch:attribute name="defaultProvider">federated</patch:attribute>
      <providers>
        <add patch:after="processor[@type='Sitecore.Security.Authentication.FormsAuthenticationProvider, Sitecore.Kernel']" name="federated" type="FedAuthenticator.Authentication.FederatedAuthenticationProvider, FedAuthenticator"/>
      </providers>
    </authentication>
    <pipelines>
      <httpRequestBegin>
        <processor patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.UserResolver, Sitecore.Kernel']" type="FedAuthenticator.Pipelines.HttpRequest.UserResolver, FedAuthenticator" />
        <processor patch:before="processor[@type='Sitecore.Pipelines.HttpRequest.ExecuteRequest, Sitecore.Kernel']" type="FedAuthenticator.Pipelines.HttpRequest.TokenRequestor, FedAuthenticator" />        
      </httpRequestBegin>
    </pipelines>
  </sitecore>
</configuration>